{% extends 'base.html.twig' %}

{% block title %}Edit{% endblock %}

{% block body %}
    <form class="mt-4 form-edit-movie" action="/movies/update/{{ movie.id }}" method="POST">
        {% if errors is defined %}
            {{ include('alert.html.twig') }}
        {% endif %}

        <input type="hidden" name="id" value="{{ movie.id }}">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ movie.title }}">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" name="description">{{ movie.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="format">Format</label>
            <select id="format" class="form-control" name="format">
                {% for format in formats %}
                    <option {% if format == movie.format %}selected{% endif %}>{{ format }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="description">Actors</label>
            <input type="text" class="form-control" id="actors" name="actors" value="{{ movie.actors }}">
        </div>
        <div class="form-group">
            <label for="description">Year</label>
            <select id="year" class="form-control" name="year">
                {% for year in range('now'|date('Y') + 4, 'now'|date('Y') - 100) %}
                    <option {% if year == movie.year %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-dark" href="/movies/view/{{ movie.id }}"><i class="fas fa-arrow-left icon"></i>Back</a>
            </div>
            <div class="col text-right">
                <button type="submit" class="btn btn-primary"><i class="fas fa-pen icon"></i>Edit</button>
            </div>
        </div>
    </form>
{% endblock %}
