{% extends 'base.html.twig' %}

{% block title %}View{% endblock %}

{% block body %}
    <div class="card border-dark mt-4">
        <div class="card-header">
            <div class="row">
                <div class="col-10"><i class="fas fa-film icon"></i><b>{{ movie.title }}</b></div>
                <div class="col text-right">
                    <a class="btn btn-outline-dark btn-sm" href="/movies/edit/{{ movie.id }}"><i class="fas fa-pen"></i></a>
                    <a  href="/movies/delete/{{ movie.id }}" onclick="confirm('Are you sure?')"></a>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modal"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if movie.description|length > 0 %}
                <p class="card-text">{{ movie.description }}</p>
            {% else %}
                <p class="card-text text-center">(no description)</p>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <i class="fas fa-users icon"></i><b>Actors:</b> {{ movie.actors }}
                </div>
                <div class="col text-right">
                    <i class="fas fa-file-video icon"></i>{{ movie.format }}&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-calendar-alt icon"></i>{{ movie.year }}
                </div>
            </div>
        </div>
    </div>

    {% include 'modal.html.twig' with { title: 'Are you sure?', body: 'Do you want to delete the movie?', url: '/movies/delete/' ~ movie.id } %}
{% endblock %}
