{% extends 'base.html.twig' %}

{% block body %}
    {% for movie in movies %}
        <div class="card bg-dark text-white mt-4">
            <div class="card-header"><i class="fas fa-film icon"></i><b><a href="/movies/view/{{ movie.id }}">{{ movie.title }}</a></b></div>
            <div class="card-body">
                <p class="card-text">{{ movie.description }}</p>
                <div class="text-right">
                    <a href="/movies/view/{{ movie.id }}">More...</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-footer text-white text-left"><i class="fas fa-users icon"></i><b>Actors:</b> {{ movie.actors }}</div>
                </div>
                <div class="col">
                    <div class="card-footer text-white text-right"><i class="fas fa-calendar-alt icon"></i><b>Year:</b> {{ movie.year }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
